# Pandas
pandas==2.2.2 ; python_version >= "3.11"
openpyxl==3.1.5 ; python_version >= "3.11"
PuLP==2.9.0 ; python_version >= "3.11"
numpy==2.1.2 ; python_version >= "3.11"
pydantic==2.8.2; python_version >= "3.11"
pyinstaller==6.11.0; python_version >= "3.11"